/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 de jun. de 2021, 22:59:53
    Author     : David
*/

.jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}

a.btn {
    width: 10rem;
    height: 1.5rem;
    background-color: #293240;
    border-radius: 5px;
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: larger;
}