/* 
    Created on : 26 de jun. de 2021, 23:59:56
    Author     : David
*/

:root{
    --half: 50%;
    --all: 100%;
    --padding-containter-x: 3rem;
    --padding-container-y: 0rem;
}

.container{
    padding: var(--padding-container-y) var(--padding-containter-x) var(--padding-container-y) var(--padding-containter-x);
}

.jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.r {
    display: flex;
}
.r:after {
  content: "";
  display: table;
  clear: both;
}

.col-5 {
    flex: var(--half);
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.col {
    flex: var(--all);
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

@media screen and (max-width: 600px) {
  .col-5 {
    width: 100%;
  }
}

input, label {
    display:block;
    width: 100%;
}

.mt-2 {
    margin-top: 0.5rem;
}